{% extends 'base.html.twig' %}

{% block title %}Hello SaisonController!{% endblock %}

{% block body %}
    <br>
    <div class="container">
        <center><h1>Calendrier de saison</h1></center>
    </div>
    <div class="container">
        <div class="row">

        {% if showCalendrier is not empty %}
            <img src="{{asset('assets/Calendrier/' ~ showCalendrier.nomDoc) }}" class="img-fluid">
        {% endif %}
        </div>
    </div>
{% endblock %}
