{% extends 'base.html.twig' %}

{% block title %}HEC Tournois Constantin{% endblock %}

{% block body %}
    <div class="container" id="event">
        <div class="row">
        {% if showConstantin is not empty %}
            <img src="{{asset('assets/Images/Constantin/' ~ showConstantin.nomDoc) }}" class="img-fluid" id="imgEvent">
        {% endif %}
        </div>
    </div>
{% endblock %}
