body{
    min-height: 100vh;
    background: linear-gradient(to bottom, white, black);
    background-repeat: no-repeat;
}
/*Menu*/
.navbar {
    background-color: black;
}

#btn a{
    color: white;
}

#menu-saison-btn{
    background-color: black;
}



.dropdown-submenu{
    position: relative;
}

.dropdown-submenu .dropdown-menu{
    top : 0;
    left: 100%;
    background-color: rgb(21, 20, 20);
}

.dropdown-submenu1 .dropdown-menu{
    top : 70%;
    left: 100%;
    background-color: rgb(21, 20, 20);
}

/* Saison */

#btnEnregistrer{
    background-color: rgb(18, 98, 2);
}

#titre h1{
    color: red;
}

/* Média */
#gallerie{
    margin-bottom:20px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgb(237, 236, 236);
}

#espaceMedia{
    margin-top: 25px;
}

video {
    margin-bottom:20px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgb(237, 236, 236);
}

/* Evenement */

#imgConstantin{
    height: 1000px;
    margin-left: auto;
    margin-right: auto;
}