
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
:root {
    /* Couleurs principales */
    --couleur-principale: #1a1a1a; /* Gris foncé */
    --couleur-secondaire: #2d2d2d; /* Gris moyen */

    /* Couleurs de fond */
    --couleur-fond: #f5f5f5; /* Gris très clair */
    --couleur-fond-section: #e0e0e0; /* Gris clair */

    --couleur-btnEnregistrer: #4285f4; /* Bleu */
    --couleur-titre: #333333; /* Gris foncé */

    /* Couleurs de l'association */
    --couleur-association-noir: #000000; /* Noir */
    --couleur-association-blanc: #ffffff; /* Blanc */
    --couleur-association-rouge: #d9534f; /* Rouge clair */
    --couleur-association-bleu: #337ab7; /* Bleu clair */

    /* Couleurs de texte */
    --couleur-texte-principale: #333333; /* Noir légèrement plus clair */
    --couleur-texte-secondaire: #555555; /* Gris moyen */
    --couleur-texte-btn: white;

    --box-shadow: rgba(0, 0, 0, 0.1);
}

body{
    min-height: 100vh;
    background: var(--couleur-fond);
    background-repeat: no-repeat;
    line-height: 1.25;

}

*{
    font-family: 'Kanit', sans-serif;
    font-weight: 200; 
}


/*Menu*/
.navbar {
    background-color: var(--couleur-secondaire);
}

#btn a{
    color: var(--couleur-texte-btn) ;
}
#menu-saison-btn{
    background-color: var(--couleur-secondaire);
}



.dropdown-submenu{
    position: relative;
}

.dropdown-submenu .dropdown-menu{
    top : 0;
    left: 100%;
    background-color:var(--couleur-secondaire);
}

.dropdown-submenu1 .dropdown-menu{
    top : 70%;
    left: 100%;
    background-color: var(--couleur-secondaire);
}

/* Saison */

#btnEnregistrer{
    background-color: var(--couleur-btnEnregistrer);
}

#titre h1{
    color: var(--couleur-titre);
}

/* Média */
#gallerie{
    margin-bottom:20px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px var(--box-shadow);
}

#espaceMedia{
    margin-top: 25px;
}

video {
    margin-bottom:20px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px var(--box-shadow);
}

/* Evenement */

#imgEvent{
    height: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#event{
    margin-top: 10px;
}

.section-title{
    margin-bottom: 30px;
    margin-top: 30px;
}


.table-org th{
        background-color: #f9f9f9;
        border: 1px solid var(--couleur-association-noir);
        margin: 10px;
        border-bottom: 1px solid var(--couleur-association-noir);
        padding: 0;
        height: 300px;
        
}

.table-org thead th {
    vertical-align: bottom;
    border-bottom: 1px solid var(--couleur-association-noir);
}

#text-taille{
    font-size: 15px;
    text-align:justify;
    width: calc(100% - 30px);
    margin-left: 15px;
}
#textPre{
    font-size: 15px !important;
    text-align:justify;
    width: calc(100% - 30px);
    margin-left: 15px;
}

#imagetable{
    border-radius: 50%;
    width: 100%; 
    height: auto;
}

.table-equipe {
    border-collapse: collapse;
    width: 100%;
}
.table-equipe th, .table-equipe td {
    border: 1px solid var(--couleur-association-noir);
    padding: 8px; 
}

.table-equipe thead th {
    border-bottom: 2px solid var(--couleur-association-noir); 
}

#imageEquipe{
    border-radius: 100px;
    margin-bottom: 1.5em;
}
