body{
    background-color: rgb(208, 208, 206);
}

.navbar {
    background-color: black;
}

#btn a{
    color: white;
}

#menu-saison-btn{
    background-color: black;
}



.dropdown-submenu{
    position: relative;
}

.dropdown-submenu .dropdown-menu{
    top : 0;
    left: 100%;
    background-color: rgb(21, 20, 20);
}

.dropdown-submenu1 .dropdown-menu{
    top : 70%;
    left: 100%;
    background-color: rgb(21, 20, 20);
}