<nav class="navbar navbar-expand-lg " id="menu">
  <a class="navbar-brand" href="#"><img src="{{asset('assets/Images/logo/Logo_HEC.png') }}" width="80" height="80" alt="" ></a>

    <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <ul class="navbar-nav navbar-dark mr-auto mt-2 mt-lg-0">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse " id="btn">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="btn" href="{{path('app_accueil')}}">Accueil <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Équipe
          </a>
          <ul class="dropdown-menu multi" id="menu-saison-btn" aria-labelledby="navbarDropdown">
            <li class="dropdown-submenu">
              <a class="dropdown-item dropdown-toggle" href="#">+16</a>
              <ul class="dropdown-menu" >
                <li class="dropdown-item">
                  <a href="#">Compétition</a>
                </li>
                <li class="dropdown-item">
                  <a href="#">Loisir</a>
                </li>
              </ul>
            </li>
            <li class="dropdown-submenu">
              <a class="dropdown-item dropdown-toggle" href="#">-18</a>
              <ul class="dropdown-menu" >
                <li class="dropdown-item">
                  <a href="#">Garçons</a>
                </li>
                <li class="dropdown-item">
                  <a href="#">Fille</a>
                </li>
              </ul>
            </li>
            <li class="dropdown-submenu">
              <a class="dropdown-item dropdown-toggle" href="#">-15</a>
              <ul class="dropdown-menu " >
                <li class="dropdown-item">
                  <a href="#">Garçons</a>
                </li>
                <li class="dropdown-item">
                  <a href="#">Fille</a>
                </li>
              </ul>
            </li>
            <li class="dropdown-submenu">
              <a class="dropdown-item dropdown-toggle" href="#">-13</a>
              <ul class="dropdown-menu " >
                <li class="dropdown-item">
                  <a href="#">Garçons</a>
                </li>
                <li class="dropdown-item">
                  <a href="#">Fille</a>
                </li>
              </ul>
            </li>
            <a class="dropdown-item" href="#">-11 Mixte</a>
            <a class="dropdown-item" href="#">-9 Mixte</a>
            <a class="dropdown-item" href="#">-7 Mixte</a>
            <a class="dropdown-item" href="#">baby</a>
          </ul>
        </li>


        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Saison
          </a>
          <div class="dropdown-menu" id="menu-saison-btn" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Classement</a>
            <a class="dropdown-item" href="{{path('saison.calendrier')}}">Calendrier des match</a>
          </div>
        </li> 

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Évenement
          </a>
          <div class="dropdown-menu" id="menu-saison-btn" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Tournois Constantin</a>
            <a class="dropdown-item" href="#">Journée découverte</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Club
          </a>
          <div class="dropdown-menu" id="menu-saison-btn" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Histoire</a>
            <a class="dropdown-item" href="#">Organigramme</a>
            <a class="dropdown-item" href="#">Salle</a>
            <a class="dropdown-item" href="#">Partenaires</a>
            <a class="dropdown-item" href="#">Arbitres</a>

            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Commission
            </a>
            <div class="dropdown-submenu1">
              <div class="dropdown-menu"  aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Animation</a>
                <a class="dropdown-item" href="#">Sponsor</a>
              </div>
          </div>
        </li>
       <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Média
          </a>
          <div class="dropdown-menu" id="menu-saison-btn" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Photo</a>
            <a class="dropdown-item" href="#">Vidéo</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="btn" href="">Inscription</a>
        </li>  
      </ul>
    </div>
</nav>
<script src="assets/Script/Menu.js"></script>
